<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Async Image Loader</title>
    <style>
        img {
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
    {% for img_id in images %}
        <img id="async-image-{{ img_id }}" src="/static/placeholder.jpg" alt="Loading Image {{ img_id }}" />
    {% endfor %}
    <script>
    function loadAllImages() {
            const images = {{ images|tojson }};
            images.forEach(imgId => loadImage(imgId));
        }
    </script>
    <script src="static/js/candy.js"></script>
</body>
</html>
